body {
  background-color: #fff8f0;
}
.container {
  width: 60vw;
  margin: 0 auto;
}

.header {
  display: grid;
  align-items: center;
  align-content:center;
}

h1 {
  margin: 20px auto;
}
th {
  border-bottom: 1px solid black;
}
table {
  margin: 10px auto;
}
td, th {
  margin: 0px 20px;
  text-align: center;
}
hr {
  width: 85%;
  margin: 20px auto;
}

.main {
  width: 80%;
  margin: 20px auto;
}
.main hr {
  width: 100%;
}

h3 {
  margin-left: 1em;
}